.row
  .col-md-12
    .column_padding
      %h1.editing Edit Company Details
= render 'form'
.row
  .col-md-12
    .column_padding
      .actions.page_bottom
        = link_to 'Show', @company, class: "btn btn-primary button_position"
        = link_to 'Back', companies_path, class: "btn btn-default button_position"
